@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --very-light-gray: hsl(0, 0%, 95%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca';
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--transparent-white);
    padding-inline: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.car-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem;
    min-height: fit-content;
    height: 450px;
}

.sedan {
    background-color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.text {
    color: var(--transparent-white);
    max-width: 200px;
    font-size: 14px;
    line-height: 1.4rem;
}

.title {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 2.5rem;
    font-weight: 700;
}

button {
    margin-top: 40px;
    width: 120px;
    padding: 13px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}

.sedan button {
    color: var(--bright-orange);
}

.suvs button {
    color: var(--dark-cyan);
}

.luxury button {
    color: var(--very-dark-cyan);
}

button:hover {
    background: none;
    color: white;
}

@media (max-width : 750px ) {
    body {
        padding: 50px 10px;
    }
    .container {
        flex-direction: column;
        border-radius: 7px;
    }
    button {
        margin: 0;
    }
    .car-container {
        height: fit-content;
    }
}
